<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Bootflat-Admin Template</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<!--<link rel="shortcut icon" href="favicon.ico">
		<link rel="bookmark" href="favicon.ico">-->
		<link rel="stylesheet" href="/css/site.min.css">
		<link rel="stylesheet" type="text/css" href="/css/change.css" />
		<link rel="stylesheet" type="text/css" href="/css/wysiwyg.css"/>
		<!--[if lt IE 9]>
	      <script src="js/html5shiv.js"></script>
	      <script src="js/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="/js/site.min.js"></script>
		<script src="/js/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/cheack.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/bootstrap-wysiwyg.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$(".list-group a").click(function(){
					//M.adminList();
					M[$(this).data("router")]();
				});
				
				$("#loginOut").click(function(){
					M.loginOut().done(function(){
						window.location.href="/login.html";
					});
				});
			})
		</script>
	</head>

	<body>
		<nav role="navigation" class="navbar navbar-custom">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">
						<$=username$>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active" id="loginOut"><a href="#"><i class="glyphicon glyphicon-log-out"></i>&nbsp;退出</a></li>
					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div class="row row-offcanvas row-offcanvas-left">

				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
					<ul class="list-group panel">
						<li class="list-group-item list-group-item-primary"><i class="glyphicon glyphicon-align-justify"></i> <b style="color: white;">后台管理</b></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="adminList"><i class="glyphicon glyphicon-user "></i> <b>用户管理</b></a></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="newtypeList"><i class="glyphicon glyphicon-th-list"></i> <b>资讯分类</b></a></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="newsList"><i class="glyphicon glyphicon-book"></i> <b>资讯管理</b></a></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="photoList"><i class="glyphicon glyphicon-th"></i> <b>相册管理</b></a></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="imgList"><i class="glyphicon glyphicon-picture"></i> <b>图片管理</b></a></li>
						<li class="list-group-item "><a href="javascript:void(0);" data-router="commentList"><i class="glyphicon glyphicon-comment"></i> <b>评论管理</b></a></li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-9 content">
					<div class="panel panel-primary">

						<div class="panel-heading ">
							<h3 class="panel-title "><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> 主页</h3>
						</div>

						<div class="panel-body" id="adminMain">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modalInfotitle"></h4>
					</div>
					<div class="modal-body" id="modalInfocontent">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<$- include adminList.html -$>
		<$- include addAdminer.html -$>
		<$- include newtypeList.html -$>
		<$- include newtypeAdd.html -$>
		<$- include newsList.html -$>
		<$- include newAdd.html -$>
		<$- include imgAdd.html -$>
		<$- include photoAdd.html -$>
		<$- include imgList.html-$>
		<$- include photoList.html -$>
			<$- include commentList.html -$>
				
	</body>

</html>