<style type="text" id="imgAdd">
	<div class="panel panel-default">
		<div class="panel-heading"> 增加用户 </div>
	</div>

	<div class="panel-body imgAdd">
		<form class="form-horizontal" id="formimg" enctype="multipart/form-data" method="post" target="formsub">

			<div class="form-group">
				<label class="col-md-2 control-label"></label>
				<div class="col-md-10 errorinfo">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">选择图片:</label>
				<div class="col-md-10">
					<input type="file" placeholder="选择图片" class="form-control" name="upfile">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label">类型:</label>
				<div class="col-md-10">
					<select style="width: 100%;" name="pid" class="selecter_3" data-selecter-options='{"cover":"true"}'>
						<% names.forEach(function(name){ %>
							<option value="<%= name.pid %>"><%= name.pname %></option>
						<% }) %>
					</select>	
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-primary btn-block addbtn" name="addimg">增加</input>
				</div>
			</div>
		</form>
		<iframe style="display:none;" name="formsub"></iframe>
	</div>
	<script type="text/javascript">
	$(function(){
		
		var pid=$("#adminMain .imgAdd select[name=pid]").val();
		$("#formimg").attr("action","/upfiles?pid="+pid);
	})
</script>
</style>


