<style type="text" id="newtypeList">
	<div class="panel panel-success newtypeList">
		<div class="panel-heading">博文分类列表<span class="glyphicon glyphicon-plus pull-right"></span></div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>分类名称</th>
					<th>父节点</th>
					<th>修改</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<% type.forEach(function(tp){%>
					<tr class="tr"+i>
						<th>
							<%= tp.typeid%>
						</th>
						<td>
							<%= tp.typename%>
						</td>
						<td>
							<%= tp.parent_typeid%>
						</td>
						<th><span class="glyphicon glyphicon-pencil"></span>
						<div style="display: none;">
								<button class="yes" updateid="<%= tp.typeid %>">确认</button>
								<button class="no">取消</button>
							</div>
							</td>
						<th><span class="glyphicon glyphicon-trash" tid="<%= tp.typeid%>"></span></td>
					</tr>
					<%})%>
			</tbody>
		</table>
	</div>
<script type="text/javascript">
	$(function(){
	//增加
	$("#adminMain .newtypeList .glyphicon-plus").click(function(){	
		var html = ejs.render($("#newtypeAdd").html());
		$.pageChange(html);
		
	});
	$.pencil();
	$("#adminMain .newtypeList .yes").click(function(){
		M.newtypeUpdate({updateid:$(this).attr("updateid"),ptype:$("input[name=td0]").val(),parentid:$("input[name=td1]").val()}).done(function(obj){
			if(obj.code){
				$.modal("提示","修改成功");
				M.newtypeList();
			}else{
				$.modal("提示","修改失败");
			}
		});
		
	});
	$("#adminMain .newtypeList .no").click(function(){
		M.newtypeList();
	});
	$("#adminMain .newtypeList .glyphicon-trash").click(function(){
		M.newtypeDel({"tid":$(this).attr("tid")}).done(function(obj){if(obj.code){
				M.newtypeList();
			}else{
				$.modal("提示","删除失败");
			}});
	})
})
</script>
</style>