<style type="text" id="comment_input">
	<form  name="commentform" id="commentform">
		<b>发表评论：</b>
		<p>
			<input type="text" name="comname" maxlength="49" placeholder="请输入昵称" value="" size="22">
			<label for="author"><small>昵称</small></label>
		</p>
		<p>
			<textarea name="comment" id="comment" placeholder="请输入评论内容"></textarea>
		</p>
		<button id="comment_submit">发表评论</button>
		</p>
	</form>
	<script type="text/javascript">
	$(function(){
		$("#comment_submit").click(function(){
		var comname=$("form p input[name=comname]").val();
		var ccomment=$("form p textarea[name=comment]").val();
		M.commentAdd({cname:comname,ccontent:ccomment}).done(function(){
			M.commentcontent();
			alert("评论成功");
			comname.val('');
			ccomment.val('');
		});
		})
		
	})
</script>
</style>
