<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/js/site.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/cheack.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/css/public.css" />
		<link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css" />
		<link rel="stylesheet" type="text/css" href="/css/site.min.css" />
		<style type="text/css">
			 .div_border{border-bottom: 1px dashed gray;border-top:1px dashed gray ;padding: 3px 0px;margin-bottom: 5px;}
		    .div_border a{float: right;}
		</style>
						<script type="text/javascript">
	$(function(){
		
	M.commentGetbytitle({id:$(".col-sm-9 .panel-heading a").attr("name")});
		
	})
	
		
	
	</script>
			
	</head>
	
	<body>
		<div class="container">

			<header>
				<div class="quotes">
					<p>在寻求真理的长河中，唯有学习，不断地学习，勤奋地学习，有创造性地学习，才能越重山跨峻岭。
						<br /><span style="padding-left: 75%;"> —— 华罗庚</span></p>
					<div class="text5">技术之路</div>
					<!--<div class="flower"><img src="/img/flower.jpg"></div>-->
				</div>
				<!--nav begin-->
				<nav class="navbar bgcolor" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header bgcolor">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-content-row-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-content-row-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">首页</a></li>
								<li><a href="#">关于我</a></li>
								<li class="list"><a href="/html/qian?curPage=1">前端</a>
								</li>
								<li class="list"><a href="/html/hou?curPage=1">后端</a>
								</li>

								<li><a href="/html/photo">相册</a></li>
								<li><a href="#">留言板</a></li>
								<li><a href="/login.html">后台入口</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
				<!--nav end-->
			</header>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<$ commenttitles.forEach(function(commenttitle){$>
						<div class="panel-heading">对
							<a href="" name="<$= commenttitle.nid $>">
								<$=commenttitle.title $>
							</a>的评论</div>
							
						<div class="panel-body" id="theonecomment">
							
						</div>
				<$ }) $>
				</div>

				<div class="col-sm-3 content-right">
					<div id="searchinner">
					</div>
					<div id="hotcontent">
					</div>
				</div>
			</div>
			<div class="container" id="bottomsy">
				<p>Powered by dedecms Copyright &copy; 2016 www.xxx.com All rights reserved. </p>
			</div>
		</div>
<$- include searchmodel.html-$>
	<$- include hotlist.html -$>
	<$- include comment_content.html -$>
	</body>

</html>