<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		
		<script src="/js/site.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/cheack.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/js/datouwang.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/public.css" />
		<link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css" />
		<link rel="stylesheet" type="text/css" href="/css/site.min.css" />
		<link rel="stylesheet" type="text/css"  href="/css/datouwang.css"/>
	</head>
	
	<body>
		<!--<div class="container">-->
				<div class="container">
          			<header>
				<div class="quotes">
					<p>在寻求真理的长河中，唯有学习，不断地学习，勤奋地学习，有创造性地学习，才能越重山跨峻岭。
						<br /><span style="padding-left: 75%;"> —— 华罗庚</span></p>
					<div class="text5">技术之路</div>
					
				</div>
				<!--nav begin-->
				<nav class="navbar bgcolor" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header bgcolor">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-content-row-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-content-row-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">首页</a></li>
								<li><a href="/about.html">关于我</a></li>
								<li class="list"><a href="/html/qian?curPage=1">前端</a>
								</li>
								<li class="list"><a href="/html/hou?curPage=1">后端</a>
								</li>
								
								<li><a href="/html/photo">相册</a></li>
								<li><a href="#">留言板</a></li>
								<li><a href="/login.html">后台入口</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
				<!--nav end-->
			</header>

		<!--</div>-->
		</div>
		<div class="container">
			<div class="row">
				<div  id="box">
					<$  pictures.forEach(function(picture){ $>
						<div class="col-sm-4 ">
							<img alt="image <$= picture.imgname $>" src="<$= picture.imgurl $>" style="width: 220px; height: 220px;" />
						</div>
						
					<$ }) $>
				</div>
				
			</div>
			

	<div id="bg"></div>
<div id="bottom">
	
	<ul>
    	<li class="prev"></li>
        <li class="img"></li>
        <li class="next"></li>
        <li class="close"></li>
    </ul>
</div>	
<div id="frame"></div>

<div class="container" id="bottomsy">
					<p>Powered by dedecms Copyright &copy; 2016 www.xxx.com All rights reserved. </p>
				</div>
</div>


	</body>
</html>
